/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 12px;
}

.bgr-grey{
    background-color: #4a4a4a;
}

/* HEADER */
header{
    height: 80px;
    background-color: black;
}

.header-setup{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.header-button{
    padding: 3px;
    margin-right: 5px;
    border-radius: 3px;
}

/* MAIN */
main{
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: black;
}

.single-user{
    margin: 5px;
}

.user-windows{
    position: relative;
}

.main-icon-user{
    position: absolute;
    bottom: 3px;
    left: 0;
    padding: 3px;
    background-color: rgba(102, 116, 129, 0.7);
}

/* FOOTER */
footer{
    height: 80px;
    background-color: lightgreen;
}